*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}
html, body{
    width: 100%;
    height: 100%;
}
#mainmenu {
    z-index: 10;
    position: absolute;
    width: 100%;
    position: fixed;
    top: 0;
  }
  #mainmenu.scrolled{
    background-color: #fff;
    box-shadow: 1px 2px 5px 0px rgba(92,84,84,0.75);
  -webkit-box-shadow: 1px 2px 5px 0px rgba(92,84,84,0.75);
  -moz-box-shadow: 1px 2px 5px 0px rgba(92,84,84,0.75);
  }
  #mainmenu.scrolled .pages a{
    color: #000;
  }
  #mainmenu.scrolled .menu h3{
    color: #000;
  }
  #mainmenu.scrolled .pages a:active {
    color: #d1002c;
  }
  #mainmenu.scrolled .pages #active {
    color: #d1002c;
  }
  #mainmenu.scrolled .pages span{
    color: #000;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin: 0vw 13%;
    padding: 3.5vh 1.2vw 3.5vh 0.8vw;
  }
  .menu h3 {
    color: #fff;
    font-size: 1.8vmax;
  }
  .menu h3 span {
    color: #d1002c;
    font-size: 1.8vmax;
  }
  .pages a {
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.84rem;
    font-weight: 600;
    margin-left: 3.5vw;
    letter-spacing: px;
  }
  .pages span{
      display: none;
  }
  .pages a:active {
    color: #d1002c;
  }
  #active {
    color: #d1002c;
  }
  .menu #mm {
    display: none;
  }
.div1{
    width: 100%;
    height: 90%;
    background-image: url(bg_2.jpg);
    background-position: center;
    background-size: cover;
    clip-path: polygon(100% 0, 100% 90%, 65% 100%, 0 90%, 0 0);
}
.d1inner{
    margin: 0 14%;
}
.div1mtxt{
    bottom: 30%;
    position: absolute;
}
.breadcrums{
    display: flex;
}
.bc a{
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.637);
}
.bc i{
    color:#d1002c;
    font-size: 20px;
}
.div1mtxt{
    color: #fff;
}
.div1mtxt h1{
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 40px;
    font-weight: 900;
}
.section2{
    padding: 200px 0;
}
.pb-2 {
  font-size: 2.5vw;
  margin-bottom: 10vh;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  color: #333333;
}
.icons {
  margin: 10vh 13%;
  display: flex;
  gap: 20px;
  text-align: center;
}
.iconi {
  width: 20%;
}
.iconi i {
  font-size: 5vw;
  font-weight: 400;
  color: #333333;
}
.iconi p {
  margin-top: 10px;
  color: #333333;
}
.wtavo {
  display: flex;
  margin: 13vh 13%;
  gap: 3%;
  position: relative;
}
#item3 button {
  padding: 5px 8px;
  color: #fff;
  background-color: #d1002c;
  border-radius: 5px;
  border: 5px solid #d1002c;
  cursor: pointer;
}
#item1,
#item2,
#item3 {
  width: 30%;
}
#item1 p {
  font-weight: 600;
  color: #a0a0b4;
  line-height: 1.7;
}
#item1 h1 {
  color: #000000cc;
  margin-bottom: 10px;
}
#item1 {
  display: flex;
  flex-direction: column;
  text-align: right;
}
#item2 {
  display: flex;
  flex-direction: column;
  text-align: right;
}
#item2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
#item3 p {
  font-weight: 600;
  color: #a0a0b4;
  line-height: 1.7;
}
.seo {
  display: flex;
  margin: 13vh 13%;
  gap: 3%;
}
.seotxt{
    padding-top: 7px;
}
.seodiv {
  width: 30%;
  display: flex;
  gap: 10px;
  position: relative;
}
.seodiv h1 {
  font-size: 50px;
  font-weight: 300;
  color: #d1002c;
}
.seodiv h1::before {
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    height: 1px;
    content: '';
    width: 20%;
    background: #d9d9e1;
}
.seodiv p:nth-child(1) {
  font-size: 20px;
  width: 70%;
  font-weight: 00;
  margin-bottom: 8px;
}
.seodiv p:nth-child(2) {
    color: #a0a0b4;
}
.getstarted{
    margin: 30px 13%;
    background-image: url(bg_1.jpg);
    background-position: center;
    background-size: cover;
    max-width: 970px;
    min-height: 360px;
    color: #fff;
    padding: 48px 30px;
  }
  .getstarted span{
    color: #d1002c;
    font-size: 16px;
      line-height: 1.8;
      font-weight: 400;
  }
  .getstarted h2{
    font-size: 30px;
      color: #fff;
      line-height: 1.2;
      font-weight: 400;
      margin-bottom: 0.5rem;
      width: 45%;
  }
  .getstarted p{
    margin-top: 0;
    margin-bottom: 1rem;
    width: 45%;
    line-height: 1.7;
    color: #a0a0b4;
  }
  .getstarted button{
    padding: 5px 8px;
    color: #fff;
    background-color: #d1002c;
    border-radius: 5px;
    border: 5px solid #d1002c;
    cursor: pointer;
  }
  .section3{
    width: 100%;
    padding: 200px 0px;
    background-color: #F3F3F3;
    clip-path: polygon(29% 0, 100% 2%, 100% 98%, 73% 100%, 0 98%, 0 2%);

}
.pb-3{
    font-size: 2.5vw;
  margin-bottom: 10vh;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  color: #333333;
}
.section3inner{
    margin: 0vw 13%;
}
.staffimgs{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
}
.staffmember{
  width: 20%;
  height: 50%;
}
.mimg1{
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  height: 80%;
  background-image: url(https://images.unsplash.com/photo-1541577141970-eebc83ebe30e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8YnVzaW5lc3NtYW4lMjBwb3J0cmFpdHN8ZW58MHx8MHx8fDA%3D);
  background-position: center;
  background-size: cover;
}
.mimg2{
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  height: 80%;
  background-image: url(https://plus.unsplash.com/premium_photo-1661515449711-ace459054f78?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fGJ1c2luZXNzbWFuJTIwcG9ydHJhaXRzfGVufDB8fDB8fHww);
  background-position: center;
  background-size: cover;
}
.mimg3{
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  height: 80%;
  background-image: url(https://images.unsplash.com/photo-1555069519-127aadedf1ee?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGJ1c2luZXNzbWFuJTIwcG9ydHJhaXRzfGVufDB8fDB8fHww);
  background-position: center;
  background-size: cover;
}
.mimg4{
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  height: 80%;
  background-image: url(https://images.unsplash.com/photo-1562004760-aceed7bb0fe3?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGJ1c2luZXNzbWFuJTIwcG9ydHJhaXRzfGVufDB8fDB8fHww);
  background-position: center;
  background-size: cover;
}
.mimg5{
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  height: 80%;
  background-image: url(person_1.jpg);
  background-position: center;
  background-size: cover;
}
.mimg6{
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  height: 80%;
  background-image: url(person_2.jpg);
  background-position: center;
  background-size: cover;
}
.mimg7{
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  height: 80%;
  background-image: url(https://images.unsplash.com/photo-1555069519-127aadedf1ee?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGJ1c2luZXNzbWFuJTIwcG9ydHJhaXRzfGVufDB8fDB8fHww);
  background-position: center;
  background-size: cover;
}
.mimg8{
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  height: 80%;
  background-image: url(https://images.unsplash.com/photo-1508835277982-1c1b0e205603?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjR8fGJ1c2luZXNzbWFuJTIwcG9ydHJhaXRzfGVufDB8fDB8fHww);
  background-position: center;
  background-size: cover;
}
.staffmember p{
  margin-left: 10px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 900;
}
.staffmember span{
  margin-left: 10px;
  margin-top: 10px;
  color: #d1002c;
}
.icon{
  cursor: pointer;
  margin-left: 30px;
  padding: 5px;
  text-align: center;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
}
.icon:hover{
  background-color: #d1002c;
}
.icon:hover i{
  color: #fff;
}
.iconsdiv {
  margin-top: 10px;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 222px;
}
.icon i{
  color: #d1002c;
  width: 100%;
  height: 100%;
  font-size: 15px;
}
.section4{
  width: 100%;
  padding: 200px 0px;
}
.section4inner{
  margin: 0vw 13%;
}


/* Review*/
.swiper {
  width: 100%;
  height: 100%;
}

.section4 .section4inner .mySwiper2 .swiper-wrapper .swiper-slide {
  font-size: 18px;
  background-color: #F3F3F3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 40px 20px;
}
.section4 .section4inner .mySwiper2 .swiper-wrapper .swiper-slide p{
  font-size: 16px;
  line-height: 1.7;
  color: #a0a0b4;
}

.section4 .section4inner .mySwiper2 .swiper-wrapper .swiper-slide .profile{
  display: flex;
  margin-top: 20px;
}
.section4 .section4inner .mySwiper2 .swiper-wrapper .swiper-slide .profile .imgdiv{
  overflow: hidden;
  width: 30%; 
}
.section4 .section4inner .mySwiper2 .swiper-wrapper .swiper-slide .profile .imgdiv img{
  width:100%;
  border-radius: 50%;
  }
  .section4 .section4inner .mySwiper2 .swiper-wrapper .swiper-slide .profile .profiletxt p:nth-child(1){
      color: #000;
      font-weight: 600;
      font-size: 20px;
  }
  .section4 .section4inner .mySwiper2 .swiper-wrapper .swiper-slide .profile .profiletxt p:nth-child(2){
      margin-top: 0px;
      font-size: 15px;
  }
  .swiper-pagination2{
  margin-top: 50px;
  display: flex;
  gap: 10px;
  height: 30px;
  justify-content: center;
}
.swiper-pagination-bullet{
  scale: 1.5;
  background-color: transparent;
  border: 1px solid #d1002c ;
  background-color: #d1002c;
}
.swiper-pagination-bullet-active{
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  color: #d1002c;
  background-color: #d1002c;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
  background-color: #d1002c;
}
.footer{
  width: 100%;
  background-color: #000000;
  padding: 200px 0px;
  clip-path: polygon(31% 0, 100% 12%, 100% 100%, 0 100%, 0 12%);
}
.footerinner{
  color: #fff;
  margin: 0 13%;
  display: flex;
  justify-content: space-between;
}
.footerele{
  width: 18%;
}
.footerele h4{
  margin-bottom: 40px;
  font-size: 20px;
}
.footerele p{
 color: #a0a0b4;
 margin-bottom: 40px;
 line-height: 1.7;
}
.footerele .icons{
  margin: 0;
  width: 100%;
  display: flex;
  text-align: left;
}
.footerele .icons .iconic{
  padding: 10px 12px;
  background-color: #a0a0b423;
  border-radius: 50%;
}
.list i{
  font-weight: 800;
  font-size: 20px;
  color: #a0a0b4;
}
.list a{
  text-decoration: none;
  margin-left: 5px;
  color: #a0a0b4;
}
.footerele1{
  display: flex;
  gap: 10px;
  margin-bottom: -15px;
}
.footerele1 i{
  color: #a0a0b4;
  font-size: 20px;
}
@media (max-width: 575px) {
  #mainmenu {
    background-color: #000;
  }
  .pages a {
    display: none;
  }
  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    color: #fff;
    margin: 0;
    padding: 3vh 5vw;
  }
  .menu h3 {
    color: #fff;
    font-size: 3.5vmax;
  }
  .menu h3 span {
    color: #d1002c;
    font-size: 3.5vmax;
  }
  .pages span {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff75;
    display: block;
  }
  .section2 {
    padding: 100px 0;
}
  .pb-2 {
    font-size: 6.5vw;
    margin-bottom: 10vh;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    color: #333333;
}
.icons {
  margin: 8vh 4%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
  /* justify-content: end; */
  /* text-align: center; */
  align-items: center;
}
.iconsdiv {
  margin-top: 0px;
  visibility: visible;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 55vh;
}
.iconi {
  width: 100%;
}
.iconi i {
  font-size: 15vw;
  font-weight: 400;
  color: #333333;
}
.iconi p {
  margin-top: 10px;
  color: #333333;
  font-size: 20px;
  font-style: bold;
  font-weight: 700;
}
.wtavo {
  display: flex;
  flex-direction: column;
  margin: 14vh 4%;
  gap: 3%;
  position: relative;
}
#item1, #item2, #item3 {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  gap: 25px;
  margin-bottom: 20px;
}
#item3{
  align-items: center;
}
#item1 h1 {
  color: #000000cc;
  margin-bottom: 10px;
  font-size: 22px;
  text-align: center;
}
#item3 button {
  padding: 5px 8px;
  color: #fff;
  background-color: #d1002c;
  border-radius: 5px;
  border: 5px solid #d1002c;
  cursor: pointer;
  width: 40%;
  /* text-align: center; */
}
.section3inner {
  margin: 0vw 4%;
}
.seo {
  display: flex;
  flex-direction: column;
  margin: 14vh 4%;
  gap: 40px;
}
.seodiv {
  width: 100%;
  display: flex;
  gap: 50px;
  position: relative;
}
.pb-3 {
  font-size: 6.5vw;
  margin-bottom: 10vh;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  color: #333333;
}
.Row1 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 35px;
}
.Row2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 35px;
}
.Row1 img {
  width: 100%;
  /* height: 38%; */
}
.Row2 img {
  width: 100%;
  /* height: 38%; */
}
.Row2 .row1txt {
  text-align: left;
}
.Row2 .profile {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}
.row1txt h1 {
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: 500;
  margin-bottom: 10px;
}
.staffmember {
  width: 100%;
}
.section4inner {
  margin: 0vw 4%;
}
.section4 .section4inner .mySwiper2 .swiper-wrapper .swiper-slide {
  font-size: 18px;
  background-color: #F3F3F3;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 40px 20px;
}
.getstarted {
  margin: 30px 4%;
  background-image: url(bg_1.jpg);
  background-position: center;
  background-size: cover;
  max-width: 970px;
  min-height: 360px;
  color: #fff;
  padding: 48px 30px;
}
.getstarted h2 {
  font-size: 30px;
  color: #fff;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 0.5rem;
  width: 100%;
}
.getstarted p {
  margin-top: 0;
  margin-bottom: 1rem;
  width: 100%;
  line-height: 1.7;
  color: #a0a0b4;
}
.section5inner {
  margin: 0 4%;
}
.staffimgs {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5%;
}
.footerinner {
  color: #fff;
  margin: 0 4%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footerele {
  width: 100%;
}
.footerele .icons {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: left;
}
.footer{
  clip-path: polygon(30% 0, 100% 4%, 100% 100%, 0 100%, 0 4%);
}
}
@media (min-width: 768px) and (max-width: 991px){
  .icons {
    margin: 10vh 4%;
    display: flex;
    gap: 20px;
    text-align: center;
}
.wtavo {
  display: flex;
  margin: 13vh 4%;
  gap: 3%;
  position: relative;
}
.seo {
  display: flex;
  margin: 13vh 4%;
  gap: 3%;
}
.getstarted {
  margin: 30px 4%;
  background-image: url(bg_1.jpg);
  background-position: center;
  background-size: cover;
  max-width: 970px;
  min-height: 360px;
  color: #fff;
  padding: 48px 30px;
}
.section3inner {
  margin: 0vw 4%;
}
.section4inner {
  margin: 0vw 4%;
}
}