*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}
html, body{
    width: 100%;
    height: 100%;
}
#mainmenu {
    z-index: 10;
    position: absolute;
    width: 100%;
    position: fixed;
    top: 0;
  }
  #mainmenu.scrolled{
    background-color: #fff;
    box-shadow: 1px 2px 5px 0px rgba(92,84,84,0.75);
  -webkit-box-shadow: 1px 2px 5px 0px rgba(92,84,84,0.75);
  -moz-box-shadow: 1px 2px 5px 0px rgba(92,84,84,0.75);
  }
  #mainmenu.scrolled .pages a{
    color: #000;
  }
  #mainmenu.scrolled .menu h3{
    color: #000;
  }
  #mainmenu.scrolled .pages a:active {
    color: #d1002c;
  }
  #mainmenu.scrolled .pages #active {
    color: #d1002c;
  }
  #mainmenu.scrolled .pages span{
    color: #000;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin: 0vw 13%;
    padding: 3.5vh 1.2vw 3.5vh 0.8vw;
  }
  .menu h3 {
    color: #fff;
    font-size: 1.8vmax;
  }
  .menu h3 span {
    color: #d1002c;
    font-size: 1.8vmax;
  }
  .pages a {
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.84rem;
    font-weight: 600;
    margin-left: 3.5vw;
    letter-spacing: px;
  }
  .pages span{
      display: none;
  }
  .pages a:active {
    color: #d1002c;
  }
  #active {
    color: #d1002c;
  }
  .menu #mm {
    display: none;
  }
.div1{
    width: 100%;
    height: 90%;
    background-image: url(bg_2.jpg);
    background-position: center;
    background-size: cover;
    clip-path: polygon(100% 0, 100% 90%, 65% 100%, 0 90%, 0 0);
}
.d1inner{
    margin: 0 14%;
}
.div1mtxt{
    bottom: 30%;
    position: absolute;
}
.breadcrums{
    display: flex;
}
.bc a{
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.637);
}
.bc i{
    color:#d1002c;
    font-size: 20px;
}
.div1mtxt{
    color: #fff;
}
.div1mtxt h1{
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 40px;
    font-weight: 900;
}
.maintxt{
    margin-top: 100px;
    margin-bottom: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.maintxt span{
    color: #D1002C;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.maintxt h1{
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
}
.maintxt p{
    font-weight: 600;
    color: #00000053;
    width: 40%;
}
.contactmain{
    width: 100%;
    padding: 10%;
    display: flex;
    gap: 20px;
}
.contactmain #cleft{
    width: 60%;
    height: 100%;
    background-color:#F3F3F3;
    padding: 40px 35px;
   
}
#line1{
    width: 100%;
    display: flex;
    gap: 30px;
}
.cleft-group{
    width: 50%;
}
.cleft-group span{
    font-size: 20px;
    font-weight: 300;
    color: #000;
}
.cleft-group input{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 0px solid white;;
}
#line2{
    margin-top: 15px;
    width: 100%;
}
.cleft-group2 label{
    font-size: 20px;
    font-weight: 300;
    color: #000; 
    width: 100%;   
}
.cleft-group2 input{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 0px solid white;
}
#line3{
    margin-top: 15px;
    width: 100%;
}
.cleft-group3 label{
    font-size: 20px;
    font-weight: 300;
    color: #000; 
    width: 100%;   
}
.cleft-group3 input{
    font-size: 20px;
    margin-top: 10px;
    width: 100%;
    height: 200px;
    border-radius: 5px;
    border: 0px solid white;
}
#cleft button{
    margin-top: 20px;
    padding: 10px 25px;
    background-color: #D1002C;
    color: #fff;
    border-radius: 5px;
    border: .1px solid #D1002C;
    font-size: 17px;
    cursor: pointer;
}
.contactmain #cright{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 30px;
}
.crele{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}
.creleicon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #D1002C;
    color: #fff;
    border-radius: 50%;
}
.creleicon i{
    font-size: 22px;
}
.crelemtxt{
    width: 70%;
}
.crele p{
    font-size: 16px;
    color: #000;
    font-weight: bolder;
    letter-spacing: 1px;
}
.crele h1{
    font-size: 18px;
    font-weight: 500;
    color: #00000053;
}
#reding{
    color: #D1002C;
}
.footer{
    width: 100%;
    background-color: #000000;
    padding: 200px 0px;
    clip-path: polygon(31% 0, 100% 12%, 100% 100%, 0 100%, 0 12%);
  }
  .footerinner{
    color: #fff;
    margin: 0 13%;
    display: flex;
    justify-content: space-between;
  }
  .footerele{
    width: 18%;
  }
  .footerele h4{
    margin-bottom: 40px;
    font-size: 20px;
  }
  .footerele p{
   color: #a0a0b4;
   margin-bottom: 40px;
   line-height: 1.7;
  }
  .footerele .icons{
    margin: 0;
    width: 100%;
    display: flex;
    text-align: left;
  }
  .footerele .icons .iconic{
    padding: 10px 12px;
    background-color: #a0a0b423;
    border-radius: 50%;
  }
  .list i{
    font-weight: 800;
    font-size: 20px;
    color: #a0a0b4;
  }
  .list a{
    text-decoration: none;
    margin-left: 5px;
    color: #a0a0b4;
  }
  .footerele1{
    display: flex;
    gap: 10px;
    margin-bottom: -15px;
  }
  .footerele1 i{
    color: #a0a0b4;
    font-size: 20px;
  }