* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
#mainmenu {
  z-index: 10;
  position: absolute;
  width: 100%;
  position: fixed;
}
#mainmenu.scrolled{
  background-color: #fff;
  box-shadow: 1px 2px 5px 0px rgba(92,84,84,0.75);
-webkit-box-shadow: 1px 2px 5px 0px rgba(92,84,84,0.75);
-moz-box-shadow: 1px 2px 5px 0px rgba(92,84,84,0.75);
}
#mainmenu.scrolled .pages a{
  color: #000;
}
#mainmenu.scrolled .menu h3{
  color: #000;
}
#mainmenu.scrolled .pages a:active {
  color: #d1002c;
}
#mainmenu.scrolled .pages #active {
  color: #d1002c;
}
#mainmenu.scrolled .pages span{
  color: #000;
}

.mobilemenu{
  visibility: hidden;
  padding-top: 10%;
  z-index: 9;
  position: absolute;
  height: 30vh;
  width: 100%;
  background-color: #000;
}
.mmpages{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.mmpages a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 0.84rem;
  font-weight: 600;
  margin-left: 3.5vw;
  letter-spacing: px;
}
.mmpages a .scrolo{
  color: #000 !important;
}
.mmpages #active{
  color: #D1002C !important;
}
.menu {
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin: 0vw 13%;
  padding: 3.5vh 1.2vw 3.5vh 0.8vw;
}
.menu h3 {
  color: #fff;
  font-size: 1.8vmax;
}
.menu h3 span {
  color: #d1002c;
  font-size: 1.8vmax;
}
.pages a {
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.84rem;
  font-weight: 600;
  margin-left: 3.5vw;
  letter-spacing: px;
}
.pages span{
    display: none;
}
.pages a:active {
  color: #d1002c;
}
#active {
  color: #d1002c;
}
.menu #mm {
  display: none;
}
#HS {
  width: 100%;
  height: 100%;
  clip-path: polygon(100% 0, 100% 89%, 64% 99%, 0 89%, 0 0);
  z-index: 5;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  position: relative;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination {
  margin-bottom: 30px;
  scale: 1;
}
:root {
  --swiper-pagination-color: #ffffff65;
}
.swiper-pagination-bullet {
  border: 2px solid rgb(255, 255, 255);
}

.ssl {
  width: 30%;
  position: absolute;
  top: 30%;
  left: 13%;
  padding-left: 0.8vw;
  color: #fff;
}
.ssl h1 {
  font-size: 40px;
  font-weight: 900;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.ssl p {
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 20px;
}
.ssl button {
  padding: 16px 24px;
  color: #fff;
  background-color: #d1002c;
  border-radius: 5px;
  border: 5px solid #d1002c;
  cursor: pointer;
}
.playvideo{
  width: 55px;
  height: 55px;
  top: 82%;
  left: 60%;
  position: fixed;
  border-radius: 50%;
  background-color: #D1002C;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.playvideo i{
  color: #000;
  font-size: 20px;
}
.videosection{
  position: fixed;
  top:0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: hsl(0, 0%, 0%);
  padding: 10%;
  display: none;
  z-index: 9999;
}
.videosection video{
  width: 90%;
  height: 90%;
}
.videosection i{
  position: absolute;
  top: 30px;
  right: 30px;
  color: #fff;
  scale: 2;
  cursor: pointer;
}
.ssr {
  width: 12%;
  position: absolute;
  top: 30%;
  right: 13%;
  padding-left: 0.8vw;
  color: #fff;
  text-align: right;
}
.ssr2 {
  width: 10%;
  position: absolute;
  top: 30%;
  right: 13%;
  padding-left: 0.8vw;
  color: #fff;
  text-align: right;
}
.ssr h1 {
  font-size: 40px;
  font-weight: 800;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 24px;
  margin-right: 15px;
}
.ssr h1::after {
  position: absolute;
  top: 5px;
  right: 0;
  width: 5px;
  height: 30px;
  content: "";
  background: #d1002c;
}
.ssr2 h1 {
  font-size: 40px;
  font-weight: 800;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 24px;
  margin-right: 15px;
}
.ssr2 h1::after {
  position: absolute;
  top: 5px;
  right: 0;
  width: 5px;
  height: 30px;
  content: "";
  background: #d1002c;
}
.section2{
    padding: 200px 0;
}
.pb-2 {
  font-size: 2.5vw;
  margin-bottom: 10vh;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  color: #333333;
}
.icons {
  margin: 10vh 13%;
  display: flex;
  gap: 20px;
  text-align: center;
}
.icon {
  width: 20%;
}
.icon i {
  font-size: 5vw;
  font-weight: 400;
  color: #333333;
}
.icon p {
  margin-top: 10px;
  color: #333333;
}
.wtavo {
  display: flex;
  margin: 13vh 13%;
  gap: 3%;
  position: relative;
}
#item3 button {
  padding: 5px 8px;
  color: #fff;
  background-color: #d1002c;
  border-radius: 5px;
  border: 5px solid #d1002c;
  cursor: pointer;
}
#item1,
#item2,
#item3 {
  width: 30%;
}
#item1 p {
  font-weight: 600;
  color: #a0a0b4;
  line-height: 1.7;
}
#item1 h1 {
  color: #000000cc;
  margin-bottom: 10px;
}
#item1 {
  display: flex;
  flex-direction: column;
  text-align: right;
}
#item2 {
  display: flex;
  flex-direction: column;
  text-align: right;
}
#item2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
#item3 p {
  font-weight: 600;
  color: #a0a0b4;
  line-height: 1.7;
}
.seo {
  display: flex;
  margin: 13vh 13%;
  gap: 3%;
}
.seotxt{
    padding-top: 7px;
}
.seodiv {
  width: 30%;
  display: flex;
  gap: 10px;
  position: relative;
}
.seodiv h1 {
  font-size: 50px;
  font-weight: 300;
  color: #d1002c;
}
.seodiv h1::before {
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    height: 1px;
    content: '';
    width: 20%;
    background: #d9d9e1;
}
.seodiv p:nth-child(1) {
  font-size: 20px;
  width: 70%;
  font-weight: 00;
  margin-bottom: 8px;
}
.seodiv p:nth-child(2) {
    color: #a0a0b4;
}
.section3{
    width: 100%;
    padding: 200px 0px;
    background-color: #F3F3F3;
    clip-path: polygon(29% 0, 100% 2%, 100% 98%, 73% 100%, 0 98%, 0 2%);

}
.pb-3{
    font-size: 2.5vw;
  margin-bottom: 10vh;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  color: #333333;
}
.section3inner{
    margin: 0vw 13%;
}
.Row1{
    display: flex;
    gap: 70px;
}
.Row1 img{
    width: 40%;
}
.row1txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.row1txt span{
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 2px;
}
.row1txt h1{
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 500;
    margin-bottom: 10px;
}
.row1txt>p{
    font-weight: 400;
    color: #a0a0b4;
    width: 90%;
    margin-bottom: 30px;
}
.profile .imgdiv{
    overflow: hidden;
    width: 13%;
}
.imgdiv img{
    width:100%;
    border-radius: 50%;
}
.profile{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}
.profiletxt p:nth-child(2){
    letter-spacing: 2px;
    color: #a0a0b4;
    font-size: 13px;
    margin-top: 10px;
}
.row1txt p:nth-child(5) a{
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 3px;
    color: #000000;
    font-weight: 700;
    border: 1px solid #d9d9e1;
    padding: 7px 10px;
    border-radius: 5px;
    text-decoration: none;
}
.Row2{
    display: flex;
    flex-direction: row-reverse;
    gap: 70px;
}
.Row2 img{
    width: 40%;
}
.Row2 .row1txt{
    text-align: right;
}
.Row2 .row1txt>p {
    font-weight: 400;
    color: #a0a0b4;
    width: 100%;
    margin-bottom: 30px;
}
.Row2 .profile {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}
.Row2 .imgdiv img{
    width: 100%;
}
.section4{
    width: 100%;
    padding: 200px 0px;
}
.section4inner{
    margin: 0vw 13%;
}


/* Review*/
.swiper {
    width: 100%;
    height: 100%;
  }

  .section4 .section4inner .mySwiper2 .swiper-wrapper .swiper-slide {
    font-size: 18px;
    background-color: #F3F3F3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 40px 20px;
  }
  .section4 .section4inner .mySwiper2 .swiper-wrapper .swiper-slide p{
    font-size: 16px;
    line-height: 1.7;
    color: #a0a0b4;
  }

  .section4 .section4inner .mySwiper2 .swiper-wrapper .swiper-slide .profile{
    margin-top: 20px;
  }
  .section4 .section4inner .mySwiper2 .swiper-wrapper .swiper-slide .profile .imgdiv{
    overflow: hidden;
    width: 30%; 
  }
  .section4 .section4inner .mySwiper2 .swiper-wrapper .swiper-slide .profile .imgdiv img{
    width:100%;
    border-radius: 50%;
    }
    .section4 .section4inner .mySwiper2 .swiper-wrapper .swiper-slide .profile .profiletxt p:nth-child(1){
        color: #000;
        font-weight: 600;
        font-size: 20px;
    }
    .section4 .section4inner .mySwiper2 .swiper-wrapper .swiper-slide .profile .profiletxt p:nth-child(2){
        margin-top: 0px;
        font-size: 15px;
    }
    .swiper-pagination2{
    margin-top: 50px;
    display: flex;
    gap: 10px;
    height: 30px;
    justify-content: center;
  }
  .swiper-pagination-bullet{
    scale: 1.5;
    background-color: transparent;
    border: 1px solid #d1002c ;
  }
  .swiper-pagination-bullet-active{
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    color: #d1002c;
}

.section4inner .getstarted{
  margin-top: 30px;
  background-image: url(bg_1.jpg);
  background-position: center;
  background-size: cover;
  max-width: 970px;
  min-height: 360px;
  color: #fff;
  padding: 48px 30px;
}
.getstarted span{
  color: #d1002c;
  font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
}
.getstarted h2{
  font-size: 30px;
    color: #fff;
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: 0.5rem;
    width: 45%;
}
.getstarted p{
  margin-top: 0;
  margin-bottom: 1rem;
  width: 45%;
  line-height: 1.7;
  color: #a0a0b4;
}
.getstarted button{
  padding: 5px 8px;
  color: #fff;
  background-color: #d1002c;
  border-radius: 5px;
  border: 5px solid #d1002c;
  cursor: pointer;
}
.section5{
  width: 100%;
    padding: 200px 0px;
    background-color: #F3F3F3;
    clip-path: polygon(30% 1%, 100% 5%, 100% 95%, 70% 100%, 0 95%, 0 5%);
}
.section5inner{
  margin: 0 13%;
}
.blogrow{
  width: 100%;
  display: flex;
  position: relative;
}
.blogrow .blog1{
  width: 25%;
  display: flex;
  flex-direction: column;
}
.blogrow .blog1 img{
  max-width: 90%;
  height: 100%;
  margin-bottom: 15px;
  object-fit: cover;
  object-position: center;
}
.bdetail{
  display: flex;
  margin-bottom: 15px;
}
.bdetail a{
  margin-right: 10px;
}
.blog1 p{
  color: #a0a0b4;
  line-height: 1.7;
}
.cmnts{display: flex;}
.cmnts i{
  margin-right: 6px;
}
.blog1 a{
  text-decoration: none;
  color: #333333;
}
.blog1>a{
  font-size: 21px;
  margin-bottom: 15px;
}
.footer{
  width: 100%;
  background-color: #000000;
  padding: 200px 0px;
  clip-path: polygon(70% 5%, 100% 0, 100% 100%, 70% 100%, 0 100%, 0 0);
}
.footerinner{
  color: #fff;
  margin: 0 13%;
  display: flex;
  justify-content: space-between;
}
.footerele{
  width: 18%;
}
.footerele h4{
  margin-bottom: 40px;
  font-size: 20px;
}
.footerele p{
 color: #a0a0b4;
 margin-bottom: 40px;
 line-height: 1.7;
}
.footerele .icons{
  margin: 0;
  width: 100%;
  display: flex;
  text-align: left;
}
.footerele .icons .iconic{
  padding: 10px 12px;
  background-color: #a0a0b423;
  border-radius: 50%;
}
.list i{
  font-weight: 800;
  font-size: 20px;
  color: #a0a0b4;
}
.list a{
  text-decoration: none;
  margin-left: 5px;
  color: #a0a0b4;
}
.footerele1{
  display: flex;
  gap: 10px;
  margin-bottom: -15px;
}
.footerele1 i{
  color: #a0a0b4;
  font-size: 20px;
}
/* Responisve*/
@media (max-width: 575px) {
  #mainmenu {
    background-color: #000;
  }
  .pages a {
    display: none;
  }
  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    color: #fff;
    margin: 0;
    padding: 3vh 5vw;
  }
  .menu h3 {
    color: #fff;
    font-size: 3.5vmax;
  }
  .menu h3 span {
    color: #d1002c;
    font-size: 3.5vmax;
  }
  .pages span {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff75;
    display: block;
  }
  #HS {
    width: 100%;
    height: 115%;
    clip-path: polygon(100% 0, 100% 89%, 64% 99%, 0 89%, 0 0);
    z-index: 5;
  }
  .ssl {
    width: 90%;
    position: absolute;
    top: 36%;
    left: 3%;
    padding-left: 0.8vw;
  }
  .ssl h1 {
    font-size: 22px;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
  }
  .ssl button {
    padding: 8px;
    color: #fff;
    background-color: #d1002c;
    border-radius: 5px;
    border: 5px solid #d1002c;
    cursor: pointer;
  }
  .ssr {
    width: 45%;
    position: absolute;
    top: 25%;
    left: 3%;
    padding-left: 0.8vw;
    color: #fff;
    text-align: left;
  }
  .ssr h1 {
    font-size: 22px;
    font-weight: 800;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-left: 5px;
  }
  .ssr h1::before {
    position: absolute;
    top: -3px;
    left: 0;
    width: 5px;
    height: 30px;
    content: "";
    background: #d1002c;
  }
  .ssr h1::after {
    display: none;
  }
  .ssr p {
    font-size: 16px;
    color: #ffffff7e;
  }
  .ssr2 {
    width: 45%;
    position: absolute;
    top: 25%;
    left: 3%;
    padding-left: 0.8vw;
    color: #fff;
    text-align: left;
  }
  .ssr2 h1 {
    font-size: 22px;
    font-weight: 800;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-left: 5px;
  }
  .ssr2 h1::before {
    position: absolute;
    top: -3px;
    left: 0;
    width: 5px;
    height: 30px;
    content: "";
    background: #d1002c;
  }
  .ssr2 h1::after {
    display: none;
  }
  .ssr2 p {
    font-size: 16px;
    color: #ffffff7e;
  }
  .swiper-pagination {
    margin-bottom: 110px;
    left: 0;
    scale: 1.5;
    width: 20%;
    width: 20% !important;
  }
  .playvideo{
    top: 78%;
  }
  .section2 {
    padding: 100px 0;
}
  .pb-2 {
    font-size: 6.5vw;
    margin-bottom: 10vh;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    color: #333333;
}
.icons {
  margin: 8vh 4%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
  /* justify-content: end; */
  /* text-align: center; */
  align-items: center;
}
.icon {
  width: 100%;
}
.icon i {
  font-size: 15vw;
  font-weight: 400;
  color: #333333;
}
.icon p {
  margin-top: 10px;
  color: #333333;
  font-size: 20px;
  font-style: bold;
  font-weight: 700;
}
.wtavo {
  display: flex;
  flex-direction: column;
  margin: 14vh 4%;
  gap: 3%;
  position: relative;
}
#item1, #item2, #item3 {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  gap: 25px;
  margin-bottom: 20px;
}
#item3{
  align-items: center;
}
#item1 h1 {
  color: #000000cc;
  margin-bottom: 10px;
  font-size: 22px;
  text-align: center;
}
#item3 button {
  padding: 5px 8px;
  color: #fff;
  background-color: #d1002c;
  border-radius: 5px;
  border: 5px solid #d1002c;
  cursor: pointer;
  width: 40%;
  /* text-align: center; */
}
.section3inner {
  margin: 0vw 4%;
}
.seo {
  display: flex;
  flex-direction: column;
  margin: 14vh 4%;
  gap: 40px;
}
.seodiv {
  width: 100%;
  display: flex;
  gap: 50px;
  position: relative;
}
.pb-3 {
  font-size: 6.5vw;
  margin-bottom: 10vh;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  color: #333333;
}
.Row1 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 35px;
}
.Row2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 35px;
}
.Row1 img {
  width: 100%;
  /* height: 38%; */
}
.Row2 img {
  width: 100%;
  /* height: 38%; */
}
.Row2 .row1txt {
  text-align: left;
}
.Row2 .profile {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}
.row1txt h1 {
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: 500;
  margin-bottom: 10px;
}
.section4inner {
  margin: 0vw 4%;
}
.section4 .section4inner .mySwiper2 .swiper-wrapper .swiper-slide {
  font-size: 18px;
  background-color: #F3F3F3;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 40px 20px;
}
.getstarted h2 {
  font-size: 30px;
  color: #fff;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 0.5rem;
  width: 100%;
}
.getstarted p {
  margin-top: 0;
  margin-bottom: 1rem;
  width: 100%;
  line-height: 1.7;
  color: #a0a0b4;
}
.section5inner {
  margin: 0 4%;
}
.blogrow {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.blogrow .blog1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}.footerinner {
  color: #fff;
  margin: 0 4%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footerele {
  width: 100%;
}
.footerele .icons {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: left;
}
.footer{
  clip-path: polygon(30% 0, 100% 4%, 100% 100%, 0 100%, 0 4%);
}
}
@media (min-width: 768px) and (max-width: 991px){
  .icons {
    margin: 10vh 4%;
    display: flex;
    gap: 20px;
    text-align: center;
}
.wtavo {
  display: flex;
  margin: 13vh 4%;
  gap: 3%;
  position: relative;
}
.seo {
  display: flex;
  margin: 13vh 4%;
  gap: 3%;
}
.section3inner {
  margin: 0vw 4%;
}
.section4inner {
  margin: 0vw 4%;
}
.section5inner {
  margin: 0 4%;
}
}