*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}
html, body{
    width: 100%;
    height: 100%;
}
#mainmenu{
    z-index: 10;
    position: absolute;
    width: 100%;
}
.menu{
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin: 0vw 13%;
    padding: 5.5vh 1.2vw 5.5vh .8vw;
}
.menu h3{
    color: #fff;
    font-size: 1.8vmax;
}
.menu h3 span{
    color: #D1002C;
    font-size: 1.8vmax;
}
.pages a{
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: .84rem;
    font-weight: 600;
    margin-left: 3.5vw;
    letter-spacing: px;
}
.pages a:active{
    color: #D1002C;
}
#active{
    color: #D1002C;
}
#HS{
    width: 100%;
    height: 100%;
    clip-path: polygon(100% 0, 100% 89%, 64% 99%, 0 89%, 0 0);
    z-index: 5;
    
}
.swiper {
    width: 100%;
    height: 100%;
  }

.swiper-slide{
    position: relative;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.swiper-pagination{
    margin-bottom: 30px;
    scale: 1.5;
}
:root {
    --swiper-pagination-color: #ffffff;
}
.swiper-pagination-bullet{
    border: 2px solid rgb(255, 255, 255);
}

.ssl{
    width: 30%;
    position: absolute;
    top: 30%;
    left: 13%;
    padding-left: .8vw;
    color: #fff;
}
.ssl h1{
    font-size: 40px;
    font-weight: 900;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 24px;
}
.ssl p{
        line-height: 1.5;
        color: rgba(255, 255, 255, 0.8);
        margin-bottom: 20px;
}
.ssl button{
    padding: 16px 24px;
    color: #fff;
    background-color: #D1002C;
    border-radius: 5px;
    border: 5px solid #D1002C;
    cursor: pointer;
}
.ssr{
    width: 12%;
    position: absolute;
    top: 30%;
    right: 13%;
    padding-left: .8vw;
    color: #fff;
    text-align: right;
}
.ssr2{
    width: 10%;
    position: absolute;
    top: 30%;
    right: 13%;
    padding-left: .8vw;
    color: #fff;
    text-align: right;
}
.ssr h1{
    font-size: 40px;
    font-weight: 800;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 24px;
    margin-right: 15px;
}
.ssr h1::after{
    position: absolute;
    top: 5px;
    right: 0;
    width: 5px;
    height: 30px;
    content: '';
    background: #d1002c;
}
.ssr2 h1{
    font-size: 40px;
    font-weight: 800;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 24px;
    margin-right: 15px;
}
.ssr2 h1::after{
    position: absolute;
    top: 5px;
    right: 0;
    width: 5px;
    height: 30px;
    content: '';
    background: #d1002c;
}

